.menu { 
	padding:0; 
	margin:0; 
	width:400px; 
	float:left;
}
.menu ul { 
	padding:0; 
	margin:0; 
	list-style:none; 
	border:0; 
	float:left;
}
.menu ul li { 
	float:left; 
	margin:0; 
	padding:0; 
	border:0;
}
.menu ul li a{
	float:left; 
	margin:0; 
	padding:13px 10px;  
	border:1px;
}
.menu ul li a:link{
	text-decoration: underline;
	color: blue;
}
.menu ul li a:visited{
	color:green;
}
.menu ul li a:hover{
	font-weight: bold;
}
.menu ul li a:active{
  text-decoration: none;
}
.footer {
    text-align: center;
}
h1{
      font-family:Verdana;
      text-align: center;
}
.backColor{
	background-color: #20B2AA;
	min-width: 800px;
}
hr{
	min-width: 800px;"
}
