  th {
      font-weight: bold;
      text-align: center;
      background: LightSlateGray;
/*      border-bottom:1pt solid black;*/
     /* border: 1px solid black;*/
   }
  td {
      text-align: center;
      font-style:italic;
      border:1px solid black;
   }
  table{
    table-layout: fixed;
    margin: 0 auto;
    border-collapse:collapse;
    width:75%;
    border-style: solid;
    border: 1px solid black;
    background: #CC0000;

  }
  tr:nth-of-type(odd) {
    background: #6C9AEE;
  }

